@import './assets/fontawesome/css/all.min.css';
@import './scss/fonts';
@import './scss/theme';

@import './scss/main_cont';

:root {
    text-rendering: optimizeLegibility;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;   
}