:root {
    // main cont
    --color--main-cont-background: #292828;
    
    // docker cont
        // left docker
        --color--docker-cont-left-docker-background: #363636;
        // button docker
        --color--docker-cont-button-docker-background: #363636;
        // docker button
        --color--docker-cont-docker-button-background: #292828;
        --color--docker-cont-docker-button-color: #787070;
        --px--docker-cont-docker-button-border-radius: 5px;
        --time--docker-cont-docker-button-transition: .125s;
        --color--docker-cont-docker-button-hover-color: #a89d9d;
        --color--docker-cont-docker-button-disabled-background: #292828;
        --color--docker-cont-docker-button-disabled-color: #3e3a3a;
        // editor docker
        --color--docker-cont-editor-docker-tab-container-background: #1c1b1b;
        --color--docker-cont-editor-docker-tab-color: #787070;
        --color--docker-cont-editor-docker-tab-background: #292828;
        --color--docker-cont-editor-docker-tab-border-right-color: #363636;
        --color--docker-cont-editor-docker-tab-border-bottom-color-selected: #e6c0c0;
        --color--docker-cont-editor-docker-tab-btn-color-hover: #a89d9d;
    
    // status bar
    --color--status-bar-background: #1c1b1b;
    --color--status-bar-color: #a89d9d;
    --color--status-bar-text-color: #787070;
    --color--status-bar-title-color: #787070;
}

.main-cont {
    background-color: var(--color--main-cont-background);

    .title-bar {
    }

    .docker-cont {
        .left-docker {
            background: var(--color--docker-cont-left-docker-background);
        }

        .button-docker {
            background: var(--color--docker-cont-button-docker-background);
        }

        .docker-button {
            background: var(--color--docker-cont-docker-button-background);
            color: var(--color--docker-cont-docker-button-color);
            border-radius: var(--px--docker-cont-docker-button-border-radius);
        
            transition: var(--time--docker-cont-docker-button-transition);
        
            &:hover {
                color: var(--color--docker-cont-docker-button-hover-color);
            }
        
            &.button-disabled {
                background: var(--color--docker-cont-docker-button-disabled-background);
                color: var(--color--docker-cont-docker-button-disabled-color);
            }
        }

        .editor-docker {
            .top-bar {
                .tab-cont {
                    background: var(--color--docker-cont-editor-docker-tab-container-background);
                
                    .tab {
                        background: var(--color--docker-cont-editor-docker-tab-background);
                        color: var(--color--docker-cont-editor-docker-tab-color); 
                        border-right-color: var(--color--docker-cont-editor-docker-tab-border-right-color);
        
                        border-bottom-color: var(--color--docker-cont-editor-docker-tab-background);
        
                        &.selected {
                            border-bottom-color: var(--color--docker-cont-editor-docker-tab-border-bottom-color-selected);
                        }
        
                        .tab-btns {
                            &:hover {
                                color: var(--color--docker-cont-editor-docker-tab-btn-color-hover);
                            }
                        }
                    }
                }
            }
            
        }
    }

    .status-bar {
        background: var(--color--status-bar-background);
        color: var(--color--status-bar-color);

        .status-text {
            color: var(--color--status-bar-text-color);
        }

        .title {
            color: var(--color--status-bar-title-color);
        }
    }
}